:root {
    --bg-header: hsl(356, 79%, 48%);
    --text-color: hsl(60, 100%, 50%);
    --text-color-button-menu: hsl(0, 100%, 50%);
    --bg-color-button-menu: hsl(50, 100%, 70%);
    --bg-color: hsl(204, 100%, 22%);
    --text-color-secondary: hsl(0, 0%, 100%);
    --border-radius: 12px;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--bg-header);
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    padding: 10px 8px 0;
    background-color: hsl(0, 0%, 100%);
    overflow: hidden;
}

.main {
    height: calc(100vh - 185px);
    padding: 10px 15px 0;
    background-color: var(--bg-color)
}

.hero {
    width: 260px;
    margin: 15px auto;
    font-size: 2rem;
    color: var(--text-color);
    text-align: center;
}

.footer {
    height: 125px;
    padding: 20px 0;
    text-align: center;
    color: hsl(0, 0%, 100%);
    background-color: var(--bg-color)
}

.author {
    margin-top: 0;
    font-size: .8rem;
    letter-spacing: .7px;
}

.social-media-list {
    display: flex;
    justify-content: center;
    width: 100px;
    margin: 0 auto;
    padding-left: 0;
}

.social-media-icon > path {
    fill: hsl(0, 0%, 100%);
}

.successful-registration-container {
    min-width: 300px;
    max-width: 500px;
    margin: 50px auto;
    padding-left: 8px;
    padding-right: 8px;
    border: solid 2px var(--bg-color-button-menu);
    border-radius: var(--border-radius);
    color: var(--text-color-secondary);
    box-shadow: 0px 0px 8px hsl(50, 100%, 70%);
}

.successful-registration-container > h2 {
    text-align: center;
}

.successful-registration-text {
    line-height: 1.6;
}

.return-to-home-page {
    display: block;
    width: 230px;
    height: 45px;
    font-weight: 700;
    padding-top: 14px;
    margin: 0 auto;
    color: var(--text-color-button-menu);
    letter-spacing: .6px;
    background-color: var(--bg-color-button-menu);
    box-shadow: 0px 0px 5px hsl(50, 100%, 70%);
    border-radius: var(--border-radius);
    text-align: center;
    text-decoration: none;
}

@media (hover: hover) {

    .return-to-home-page:hover {
        cursor: pointer;
        background-color: hsl(110, 100%, 70%);
        transform: scale(1.02, 1.02);
    }
}