@import url(../moduls/buttons.css);

:root {
    --bg-header: hsl(356, 79%, 48%);
    --text-color: hsl(60, 100%, 50%);
    --text-color-button-menu: hsl(0, 100%, 50%);
    --bg-color-button-menu: hsl(50, 100%, 70%);
    --bg-color: hsl(204, 100%, 22%);
    --text-color-secondary: hsl(0, 0%, 100%);
    --border-radius: 12px
}

* {
    box-sizing: border-box
}

ul {
    list-style: none
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--bg-header)
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    padding: 10px 8px 0;
    background-color: hsl(0, 0%, 100%);
    overflow-x: hidden
}

.main {
    min-height: calc(100vh - 185px);
    padding: 10px 20px 0;
    background-color: var(--bg-color)
}

.hero {
    width: 260px;
    margin: 0px auto 15px;
    font-size: 2rem;
    color: var(--text-color);
    text-align: center
}

.login-container>h2 {
    margin-bottom: 12px;
    text-align: center
}

.login-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0
}

.login-input-container_input {
    width: 95%;
    height: 45px;
    margin: 10px 0;
    padding-left: 12px;
    border: solid 1px hsl(246, 25%, 77%);
    border-radius: 12px
}

.login-input-container_input:focus {
    border: solid 2px var(--bg-color-button-menu);
    outline: none
}

.login-message-response {
    visibility: hidden;
    margin: 6px 0
}

.login-message-response-show {
    visibility: visible
}

.login-container,
.register-container {
    min-width: 300px;
    max-width: 500px;
    margin: 0 auto;
    padding-left: 8px;
    padding-right: 8px;
    border: solid 2px var(--bg-color-button-menu);
    border-radius: var(--border-radius);
    color: var(--text-color-secondary);
    box-shadow: 0px 0px 8px hsl(50, 100%, 70%)
}

.register-container>h2 {
    margin: 12px 0;
    text-align: center
}

.register-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0
}

.register-input-container_input {
    width: 98%;
    height: 45px;
    margin: 10px 0;
    padding-left: 12px;
    border: solid 1px hsl(246, 25%, 77%);
    border-radius: 12px
}

.register-input-container_input:first-child,
.register-input-container_input:nth-child(3),
.register-input-container_input:nth-child(6) {
    margin-bottom: 4px
}

.register-input-container_input:focus {
    border: solid 2px var(--bg-color-button-menu);
    outline: none
}

.register-link {
    margin-top: 20px;
    font-size: 14px;
    text-align: center
}

.register-link>p>a {
    color: var(--text-color)
}

.footer {
    height: 125px;
    padding: 20px 0;
    text-align: center;
    color: hsl(0, 0%, 100%);
    background-color: var(--bg-color)
}

.author {
    margin-top: 0;
    font-size: .8rem;
    letter-spacing: .7px
}

.social-media-list {
    display: flex;
    justify-content: center;
    width: 100px;
    margin: 0 auto;
    padding-left: 0
}

.social-media-icon>path {
    fill: hsl(0, 0%, 100%)
}

.loading-indicator-register,
.modify-profile-response,
.register-response {
    visibility: hidden;
    margin: 6px 0
}

.loading-indicator-register-show,
.modify-profile-response-show,
.register-response-show {
    visibility: visible
}

.loading__animation--one,
.loading__animation--three,
.loading__animation--two {
    font-size: 1.8rem;
    animation-name: loading;
    animation-duration: 1000ms;
    animation-iteration-count: infinite
}

.loading__animation--one {
    color: hsl(180, 100%, 50%)
}

.loading__animation--two {
    color: hsl(60, 100%, 50%);
    animation-delay: 500ms
}

.loading__animation--three {
    color: hsl(15, 72%, 70%);
    animation-delay: 750ms
}

.register-input-container_image {
    width: 98%;
    margin: 10px 0;
    padding-top: 5px;
    border-radius: var(--border-radius);
    border: solid 1px hsl(246, 25%, 77%)
}

.register-input-container_image>label {
    padding-left: 10px
}

.register-input-container_image>input {
    padding-left: 10px;
    border: none
}

.register-input-container_delete-image {
    display: flex;
    align-items: center;
    width: 98%;
    margin: 5px 0
}

.register-input-container_delete-image>input {
    width: 16px;
    height: 16px;
    margin-right: 5px
}

.password-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    margin-bottom: 3px;
    padding-left: 2px
}

.register-input-container_small {
    align-self: flex-start;
    margin-bottom: 3px;
    padding-left: 5px
}

.country-container {
    width: 98%;
    margin: 10px 0;
    outline: none;
    border: none;
    overflow-x: hidden
}

.country-container>select {
    width: 100%;
    height: 45px;
    padding-left: 12px;
    border: solid 1px hsl(246, 25%, 77%);
    border-radius: 12px
}

.country-container>select:focus {
    border: solid 2px var(--bg-color-button-menu);
    outline: none
}

@media (hover:hover) {
    .register-link>p>a:hover {
        color: inherit
    }
}

@keyframes loading {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

/* Responsive Header & Menu Styles */
.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1001;
    padding: 0;
}

.hamburger-menu span {
    width: 30px;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.hamburger-menu.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
}

.hamburger-menu.active span:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -6px);
}

.profile-nav ul {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.profile-nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    transition: color 0.3s;
}

.profile-nav ul li a:hover {
    color: var(--text-color);
}

@media screen and (max-width: 768px) {
    .hamburger-menu {
        display: flex;
    }

    .profile-nav {
        position: fixed;
        top: 60px;
        /* Header height */
        right: -100%;
        width: 100%;
        height: calc(100vh - 60px);
        background-color: rgba(0, 0, 0, 0.95);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding-top: 50px;
        transition: right 0.3s ease-in-out;
        z-index: 1000;
    }

    .profile-nav.active {
        right: 0;
    }

    .profile-nav ul {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        width: 100%;
    }

    .profile-nav ul li a {
        font-size: 1.5rem;
        display: block;
        padding: 10px;
    }
}