@import url(../moduls/buttons.css);

:root {
    --bg-header: hsl(356, 79%, 48%);
    --text-color: hsl(60, 100%, 50%);
    --text-color-button-menu: hsl(0, 100%, 50%);
    --bg-color-button-menu: hsl(50, 100%, 70%);
    --bg-color: hsl(204, 100%, 22%);
    --text-color-secondary: hsl(0, 0%, 100%);
    --border-radius: 12px;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--bg-header);
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    padding: 10px 8px 0;
    background-color: hsl(0, 0%, 100%);
    overflow: hidden;
}

.main {
    min-height: calc(100vh - 185px);
    padding: 10px 20px 0;
    background-color: var(--bg-color)
}

.hero {
    width: 260px;
    margin: 0px auto 15px;
    font-size: 2rem;
    color: var(--text-color);
    text-align: center;
}

.login-container > h2 {
    margin-bottom: 12px;
    text-align: center;
}

.login-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.login-input-container_input {
    width: 95%;
    height: 45px;
    margin: 10px 0;
    padding-left: 12px;
    border: solid 1px hsl(246, 25%, 77%);
    border-radius: 12px
}

.login-input-container_input:focus {
    border: solid 2px var(--bg-color-button-menu);
    outline: none;
}

.login-message-response {
    visibility: hidden;
    margin: 6px 0;
}

.login-message-response-show {
    visibility: visible;
}

.register-container,
.login-container {
    min-width: 300px;
    max-width: 500px;
    margin: 0 auto;
    padding-left: 8px;
    padding-right: 8px;
    border: solid 2px var(--bg-color-button-menu);
    border-radius: var(--border-radius);
    color: var(--text-color-secondary);
    box-shadow: 0px 0px 8px hsl(50, 100%, 70%);
}

.register-container > h2 {
    margin: 12px 0;
    text-align: center;
}

.register-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.register-input-container_input {
    width: 98%;
    height: 45px;
    margin: 10px 0;
    padding-left: 12px;
    border: solid 1px hsl(246, 25%, 77%);
    border-radius: 12px
}

.register-input-container_input:focus {
    border: solid 2px var(--bg-color-button-menu);
    outline: none;
}

.register-link {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}

.register-link > p > a {
    color: var(--text-color);
}

.footer {
    height: 125px;
    padding: 20px 0;
    text-align: center;
    color: hsl(0, 0%, 100%);
    background-color: var(--bg-color)
}

.author {
    margin-top: 0;
    font-size: .8rem;
    letter-spacing: .7px;
}

.social-media-list {
    display: flex;
    justify-content: center;
    width: 100px;
    margin: 0 auto;
    padding-left: 0;
}

.social-media-icon > path {
    fill: hsl(0, 0%, 100%);
}

.register-response,
.loading-indicator-register {
    visibility: hidden;
    margin: 6px 0;
}

.register-response-show,
.loading-indicator-register-show {
    visibility: visible;
}

.loading__animation--one,
.loading__animation--two,
.loading__animation--three {
    font-size: 1.8rem;
    animation-name: loading;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
}

.loading__animation--one {
    color: hsl(180, 100%, 50%);
}

.loading__animation--two {
    color: hsl(60, 100%, 50%);
    animation-delay: 500ms;
}

.loading__animation--three {
    color: hsl(15, 72%, 70%);
    animation-delay: 750ms;
}

.register-input-container_image {
    width: 98%;
    margin-top: 10px;
    padding-top: 5px;
    border-radius: var(--border-radius);
    border: solid 1px hsl(246, 25%, 77%);
}

.register-input-container_image > label {
    padding-left: 10px;
}

.register-input-container_image > input {
    padding-left: 10px;
    border: none;
}

@media (hover: hover) {

    .register-link > p > a:hover {
        color: inherit;
    }
}

@keyframes loading {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}