:root {
    --text-color-secondary: hsl(0, 0%, 100%);
    --bg-color: hsl(204, 100%, 22%);
    --border-radius: 12px;
}

button {
    border: none;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    filter: grayscale(80%);
}

.login-submit {
    width: 165px;
    height: 45px;
    margin-top: 15px;
    padding-top: 2px;
    font-weight: 700;
    font-size: .9rem;
    color: var(--text-color-button-menu);
    letter-spacing: .6px;
    background-color: var(--bg-color-button-menu);
    border-radius: 9px;
    border: none;
    text-align: center;
    cursor: pointer;
}

.login-submit-hide {
    display: none;
}

.start {
    width: 160px;
    height: 45px;
    font-weight: 700;
    padding-top: 14px;
    margin-bottom: 20px;
    color: var(--text-color-button-menu);
    letter-spacing: .6px;
    background-color: var(--bg-color-button-menu);
    box-shadow: 0px 0px 5px hsl(50, 100%, 70%);
    border-radius: var(--border-radius);
    text-align: center;
    text-decoration: none;
}

.btn-regions-mode,
.daily-challenge-btn,
.btn-request-verification {
    width: 160px;
    height: 45px;
    font-weight: 700;
    color: var(--text-color-button-menu);
    background-color: var(--bg-color-button-menu);
    box-shadow: 0px 0px 5px hsl(50, 100%, 70%);
    border-radius: var(--border-radius);
}

.daily-challenge-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    letter-spacing: .6px;
    margin-top: 20px;
}

.login-submit-hide,
.btn-request-verification-hide {
    display: none;
}

.region {
    font-weight: 700;
    color: var(--text-color-button-menu);
    text-decoration: none;
    letter-spacing: .6px;
}

.go-home,
.location {
    font-size: .9rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--text-color-secondary);
}

.close-button-hidden {
    visibility: hidden;
}

.close-button,
.close-button-login {
    /* Botón de la ventana modal */
    position: absolute;
    top: 12px;
    left: calc(100% - 44px);
    width: 26px;
    height: 26px;
    padding: 2px 0 0;
    background-color: hsl(0, 0%, 100%);
}

.login-game-button {
    display: none;
}

.about-game-button,
/* Botones del hedader, el de la página de inicio y las otras páginas */
.how-to-play,
.menu,
.btn-population,
.btn-capital,
.login-game-button-show {
    padding: 0;
    font-size: .9rem;
    font-weight: 700;
    background-color: transparent;
    color: var(--text-color-secondary);
    letter-spacing: 1px;
}

.login-game-button-show {
    display: initial;
    text-decoration: none;
}

.button-container>button,
.btn-restart {
    /* Estilos generales para los botones inferiores */
    width: 100px;
    height: 38px;
    font-size: .9rem;
    font-weight: 700;
    color: var(--text-color-button-menu);
    letter-spacing: .5px;
    border-radius: var(--border-radius);
}

.btn-check {
    width: 115px;
    height: 40px;
    font-size: .9rem;
    font-weight: 700;
    color: var(--text-color-button-menu);
    letter-spacing: .5px;
    border-radius: var(--border-radius);
    background-color: var(--bg-color-button-menu);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    transition: background-color 0.2s, transform 0.1s;
}

.btn-next {
    opacity: .2;
}

.btn-track {
    background: linear-gradient(to right, hsl(180, 100%, 50%), hsl(110, 95%, 76%), hsl(320, 83%, 70%));
}

.btn-track-disabled {
    opacity: .2;
}

.btn-next-region-mode-career {
    width: 140px;
    height: 38px;
    font-size: .9rem;
    font-weight: 700;
    color: var(--text-color-button-menu);
    letter-spacing: .5px;
    border-radius: var(--border-radius);
    border: solid 1px hsl(0, 0%, 0%);
    background-color: transparent;
    animation-name: button-float;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.btn-next-region-mode-career-active {
    animation-name: button-float;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.btn-restart {
    background-color: hsl(0, 55%, 30%);
    color: var(--text-color-secondary);
    letter-spacing: 1px;
}

.end-region-button {
    padding-top: 10px;
}

.profile-button {
    display: none;
}

.profile-button-show {
    display: initial;
    width: 40px;
    height: 40px;
    padding-top: 8px;
    font-size: 1.2rem;
    color: var(--bg-color);
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: hsl(0, 0%, 100%);
}

.profile-button-show-with-image {
    padding-top: 0px;
}

.register-submit,
.change-data-profile-submit,
.go_back_homepage {
    width: 170px;
    height: 42px;
    margin-top: 15px;
    padding-top: 2px;
    font-weight: 700;
    font-size: .9rem;
    color: var(--text-color-button-menu);
    letter-spacing: .6px;
    background-color: var(--bg-color-button-menu);
    border-radius: 9px;
    border: none;
    text-align: center;
    cursor: pointer;
}

.change-data-profile-submit-hide {
    display: none;
}

.go_back_homepage {
    display: none;
    padding-top: 12px;
    text-decoration: none;
}

.go_back_homepage-show {
    display: initial;
}

.toggle-password-text {
    font-size: 0.8rem;
    background-color: transparent;
    border: none;
    color: var(--text-color);
}

@media (hover: hover) {

    button:hover {
        cursor: pointer;
    }

    .about-game-button:hover,
    .how-to-play:hover,
    .go-home:hover,
    .menu:hover,
    .login-button:hover {
        color: var(--text-color);
        text-decoration: underline;
    }

    .start:hover,
    .btn-regions-mode:hover,
    .daily-challenge-btn:hover,
    .login-submit:hover,
    .register-submit:hover,
    .btn-check:hover {
        background-color: hsl(110, 100%, 70%);
        transform: scale(1.02, 1.02);
    }

    .close-button:hover,
    .close-button-login:hover {
        background-color: var(--text-color);
    }
}

@media screen and (min-width: 768px) {

    .start {
        margin-bottom: 0px;
    }

    .daily-challenge-btn {
        margin-top: 0px;
    }

}

@media screen and (min-width: 1366px) {

    .button-container>button,
    .btn-restart {
        /* Estilos generales para los botones inferiores */
        width: 115px;
        height: 40px;
    }
}