@import url(./buttons.css);
@import url(./animation.css);

:root {
    --bg-header: hsl(356, 79%, 48%);
    --text-color: hsl(60, 100%, 50%);
    --text-color-secondary: hsl(0, 0%, 100%);
    --text-color-button-menu: hsl(0, 100%, 50%);
    --bg-color-button-menu: hsl(50, 100%, 70%);
    --border-color-modals: hsl(80, 61%, 50%);
    --bg-color-windows: hsl(0, 55%, 30%);
}

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    padding: 8px 4px 0;
    background-color: hsl(0, 0%, 100%);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: .85rem;
    font-weight: 700;
    background: linear-gradient(0.25turn, hsl(356, 79%, 48%), hsl(204, 100%, 27%));
    letter-spacing: 1px;
    color: var(--text-color-secondary);
}

.menu-container,
.location-population-capital-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    left: 80px;
    left: calc(50% - 98px);
    width: 180px;
    height: 60px;
    background-color: var(--bg-color-windows);
    transform: translateY(-50%) scaleY(0);
    transition: transform .4s;
}

.location-population-capital-container {
    left: 15px;
    top: -15px;
    left: calc(50% - 145px);
    width: 290px;
    height: 50px;
    letter-spacing: 1px;
    transform: translateY(-25px) scaleY(0);
    transition: transform .2s;
}

.menu-container-show,
.location-population-capital-container-show {
    transform: translateY(0);
    transition-property: transform;
    transition-duration: .4s;
    transition-delay: .2s;
}

.points-stages-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 8px 0 8px 12px;
}

.points,
.stages,
.region-name {
    margin: 0;
}

.region-and-stages-container > p {
    margin: 8px 0;
    padding-left: 15px;
    text-align: center;
}

.live-tracks-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 63px;
    height: 60px;
}

.tracks {
    margin: 0;
}

.lives-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.heart {
    fill: var(--text-color-secondary);
    transform: scale(1, 1);
    transition: all 0.5s;
}

.heart-animation {
    fill: hsl(0, 100%, 50%);
    transform: scale(1.3, 1.3);
    transition: transform 0.2s;
}

.one-heart {/* Regla css que se aplica al corazón cuande queda uno solo */
    animation-name: one-heart;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
}

.counter {
    min-height: 16.5px;
}

.counter-red {
    color: hsl(0, 100%, 58%);
}

.track {
    animation-name: track;
    animation-duration: 1.2s;
    animation-iteration-count: 2;
}

.internet {
    position: absolute;
    width: 90%;
    height: 60px;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    transform: translateY(-50%) scaleY(0);
    transition: transform .4s;
}

.internet-off {
    transform: translateY(0%) scaleY(1);
    transition: transform .4s;
    background-color: var(--bg-color-windows);
    z-index: 10;
}

.internet-on {
    transform: translateY(0%) scaleY(1);
    transition: transform .4s;
    background-color: hsl(120, 100%, 30%);
    z-index: 10;
}

/* Styles for the section main */

.main {
    position: relative;
    min-height: calc(100vh - 85px);
    background-color: hsl(204, 100%, 25%);
}

.flags-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 80px;
    padding-bottom: 6px;
    margin: 12px auto 0;
    background-color: hsl(0, 0%, 100%);
}

.flags-container-two-flags {
    justify-content: space-between;
}

img {
    display: block;
    max-width: 31%;
    border: solid 1px hsla(0, 0%, 0%, .1);
    user-select: none;
}

.drop-names {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 12px;
    background-color: hsl(0, 0%, 100%);
}

.drop-flag-left,
.drop-flag-center,
.drop-flag-right {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 31%;
    min-height: 19px;
    padding-left: .5px;
    padding-right: .5px;
    font-size: .9rem;
    border-bottom: solid 1px hsl(204, 100%, 26%);
    text-align: center;
    user-select: none;
}

.flag-drop-area-hidden {
    visibility: hidden;
}

.flag-drop-area-failed {
    background-color: hsl(0, 100%, 90%);
    border-color: hsl(0, 100%, 80%);
    box-shadow: 0 0 5px hsl(0, 100%, 38%);
}

.flag-drop-area-success {
    background-color: hsl(110, 100%, 90%);
    border-color: hsl(110, 100%, 50%);
    box-shadow: 0 0 5px hsl(110, 100%, 38%);
}

.flag-drop-area-empty {
    border: solid 1px black;
}

.flags-drop-names-container {
    position: relative;
}

.dialog {
    width: 100%;
    height: auto;
    top: -12px;
    bottom: 0;
    padding: 0;
    animation-name: complete;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    border-color: transparent;
    text-align: center;
}

.dialog > p {
    margin: 12px 0;
    font-weight: 700;
    letter-spacing: 1px;
}

.dialog-failed {
    width: 100%;
    height: auto;
    top: -12px;
    bottom: 0;
    padding-top: 6px;
    text-align: center;
    border-color: var(--border-color-modals);
}

.failed-text {
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 700;
    letter-spacing: 1.1px;
}

.failed-heart {
    padding-top: 10px;
    fill: red;
}

.restart-text {
    margin-top: 8px;
    margin-bottom: 12px;
}

/* Estilos para "section-names" */

.section-names {
    position: relative;
    padding: 0px 10px;
}

.population-information-container,
.capital-information-container,
.information-container {
    position: absolute;
    left: 0;
    top: -15px;
    width: 100%;
    height: 50px;
    font-size: .8rem;
    font-weight: 400;
    text-align: center;
    color: var(--text-color-secondary);
    letter-spacing: 1px;
    background-color: var(--bg-color-windows);
    transform: translateY(-25px) scaleY(0);
    transition: transform .3s;
}

.population-information-container-show,
.capital-information-container-show,
.information-container-show {
    transform: translateY(0);
    transition-property: transform;
    transition-delay: .3s;
    transition-duration: .4;
}

.information-container {
    font-weight: 700;
}

.section-names__header {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.1rem;
    color: var(--text-color);
    text-align: center;
    letter-spacing: 2px;
}

.section-names__list {
    width: min(100%, 750px);
    margin: 0 auto;
    padding: 5px 0 0;
    font-size: .9rem;
    font-weight: bold;
    list-style: none;
    color: var(--text-color-secondary);
    column-count: 2;
}

.section-names__list-eighteen {
    column-count: 3;
}

.flag-names {
    position: relative;
    width: max-content;
    margin: 6px auto;
    padding: 5px;
    letter-spacing: .8px;
    user-select: none;
}

.flag-names:first-of-type {
    margin-top: 0;
}

.flag-names-selected {
    color: var(--text-color);
}

/* Estilos para "section-button" */

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding-left: 4px;
    padding-right: 4px;
}

/* EStilos para la ventana modal (Explicación de uso de la app) */

.modal-how-to-play {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding-left: 12px;
    padding-right: 12px;
    background-color: hsla(0, 0%, 0%, .95);
    transform: scale(1, 1);
    transition: transform 700ms;
}

.modal-how-to-play-hidden {
    position: absolute;
    transform: scale(0, 1);
}

.loading,
.error-loading {
    margin: 0;
    padding-bottom: 20px;
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--text-color-secondary);
    letter-spacing: 1px;
}

.loading__animation--one,
.loading__animation--two,
.loading__animation--three {
    font-size: 1.8rem;
    animation-name: loading;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
}

.loading__animation--one {
    color: hsl(180, 100%, 50%);
}

.loading__animation--two {
    color: hsl(60, 100%, 50%);
    animation-delay: 500ms;
}

.loading__animation--three {
    color: hsl(15, 72%, 70%);
    animation-delay: 750ms;
}

.loading-hidden {
    visibility: hidden;
}

.how-to-play-explanation-container {
    max-width: 700px;
    margin-top: 7px;
    padding: 0 2px;
    background-color: hsl(0, 0%, 100%);
    border: solid 3px var(--border-color-modals);
}

.how-to-paly-title {
    margin-top: 10px;
    margin-bottom: 12px;
    font-weight: 700;
    text-align: center;
}

.how-to-play-explanation {
    font-size: .9rem;
    padding-left: 5px;
    letter-spacing: 1px;
    line-height: 1.3;
}

@media (hover: hover) {

    .flag-names:hover {
        cursor: pointer;
        color: var(--text-color);
    }

    .flags-container > img:hover {
        cursor: pointer;
    }

    .flags-container > img:active {
        transform: scale(0.985);
        transition-property: transform;
        transition-delay: 30ms;
        transition-duration: 10ms;
    }
}

@media screen and (max-width: 353px) {

    .menu-container {
        flex-direction: column;
        justify-content: space-around;
        left: 90px;
        left: calc(50% - 60px);
        width: 120px;
        height: 60px;
        transform: translateY(-50%) scaleY(0);
        transition: transform .5s;
    }

    .menu-container-show {
        transform: translateY(0);
        transition: all .7s;
    }

    .drop-flag-left,
    .drop-flag-center,
    .drop-flag-right {
        font-size: .8rem;
    }

    .flag-names {
        letter-spacing: initial;
    }

    .button-container > button {
        width: 90px;
    }
}

@media screen and (min-width: 425px) {

    img {
        max-width: 28%;
    }

    .drop-flag-left,
    .drop-flag-center,
    .drop-flag-right {
        height: 22px;
        font-size: 1rem;
        letter-spacing: .8px;
    }

    .flag-names {
        letter-spacing: 1px;
    }
}

@media screen and (min-width: 625px) {

    .how-to-play-explanation {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    img {
        max-width: 25%;
    }

    .button-container {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    .drop-flag-left,
    .drop-flag-center,
    .drop-flag-right {
        width: 28%;
    }
}

@media screen and (min-width: 740px) {

    img {
        max-width: 20%;
    }

    .drop-flag-left,
    .drop-flag-center,
    .drop-flag-right {
        min-width: max-content;
    }
}

@media screen and (min-width: 1024px) {

    .header {
        padding-left: 90px;
        padding-right: 90px;
    }

    .menu-container {
        left: calc(50% - 125px);
        width: 250px;
    }

    img {
        max-width: 15%;
    }

    .flags-drop-names-container {
        padding-left: 170px;
        padding-right: 170px;
        background-color: hsl(0, 0%, 100%);
    }

    .drop-flag-left,
    .drop-flag-center,
    .drop-flag-right {
        width: 15%;
    }

    .population-information-container,
    .capital-information-container,
    .information-container {
        font-size: 1rem;
    }

    .section-names__list {
        font-size: 1rem;
    }

    .button-container {
        width: 52%;
    }

    .how-to-paly-title {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 1366px) {

    .header {
        padding-left: 260px;
        padding-right: 260px;
    }

    .menu-container {
        left: calc(50% - 150px);
        width: 300px;
    }

    .flags-drop-names-container {
        padding-left: 350px;
        padding-right: 350px;
    }

    .button-container {
        width: 40%;
    }

    .how-to-play-explanation {
        font-size: 1rem;
        padding-left: 5px;
    }

    .dialog-failed {
        padding-top: 15px;
    }
    
    .restart-text {
        letter-spacing: 1px;
    }
}

@media screen and (min-width: 1540px) {

    .header {
        height: 80px;
        font-size: 1rem;
    }

    .points-stages-container,
    .live-tracks-container {
        height: 75px;
    }

    .flags-drop-names-container {
        padding-left: 450px;
        padding-right: 450px;
    }

    .main {
        min-height: calc(100vh - 106px);
    }

    .button-container {
        width: 32%;
    }

    .how-to-play-explanation {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 2350px) {

    .header {
        padding-left: 490px;
        padding-right: 490px;
    }

    .flags-drop-names-container {
        padding-left: 595px;
        padding-right: 595px;
    }

    .dialog-failed {
        padding-top: 22px;
    }

    .button-container {
        width: 20%;
    }
}
