/* @import url("../../moduls/buttons.css"); */

:root {
    --bg-header: hsl(356, 79%, 48%);
    --text-color: hsl(60, 100%, 50%);
    --text-color-button-menu: hsl(0, 100%, 50%);
    --bg-color-button-menu: hsl(50, 100%, 70%);
}

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    padding: 10px 8px 0;
    background-color: hsl(0, 0%, 100%);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--bg-header);
}

.lives-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 38px;
    height: 38px;
}

.left-heart,
.right-heart {
    width: 18px;
    height: 18px;
    filter: invert(100%);
}

.lost-life {
    opacity: .2;
}

.main {
    position: relative;
    min-height: calc(100vh - 85px);
    background-color: hsl(204, 100%, 26%);
}

.flags-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 6px;
    margin: 12px auto 0;
    background-color: hsl(0, 0%, 100%);
}

img {
    display: block;
    max-width: 31%;
    border: solid 1px black;
}

.drop-names {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: hsl(0, 0%, 100%);
    padding-bottom: 12px;
}

.drop-flag-left,
.drop-flag-center,
.drop-flag-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 31%;
    height: 19px;
    font-size: .9rem;
    border-bottom: solid 1px hsl(204, 100%, 26%);
    text-align: center;
}

.drop-names > div > p {
    margin: 0;
}

.flag-drop-area-hidden {
    visibility: hidden;
}

.flag-drop-area-failed {
    background-color: hsl(0, 100%, 90%);
    border-color: hsl(0, 100%, 80%);
    box-shadow: 0 0 5px hsl(0, 100%, 38%);
}

.flag-drop-area-success {
    background-color: hsl(110, 100%, 90%);
    border-color: hsl(110, 100%, 50%);
    box-shadow: 0 0 5px hsl(110, 100%, 38%);
}

/* Estilos para "section-names" */

.section-names {
    padding: 0px 10px;
}

.section-names__header {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.1rem;
    color: var(--text-color);
    text-align: center;
    letter-spacing: 2px;
}

.section-names__list {
    width: 90%;
    margin: 0;
    padding: 0;
    font-size: .9rem;
    font-weight: bold;
    list-style: none;
    color: hsl(0, 0%, 100%);
    column-count: 2;
}

.flag-names {
    position: relative;
    width: max-content;
    margin: 6px auto;
    padding: 6px;
    user-select: none;
}

.flag-names:first-of-type {
    margin-top: 0;
}

.flag-names-selected {
    color: var(--text-color);
}

/* Estilos para "section-button" */

.section-buttons {
    padding-top: 2px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4px;
    padding-right: 4px;
}

.button-container > button {
    width: 100px;
    height: 38px;
    font-size: .9rem;
    font-weight: 700;
    color: var(--text-color-button-menu);
    letter-spacing: .5px;
    border-radius: 18px;
    border: none;
}

.button-check {
    background-color: var(--bg-color-button-menu);
    box-shadow: 0px 0px 5px hsl(50, 100%, 70%);
}

.button-next {
    opacity: .2;
}

.button-next-region {
    background-color: hsl(110, 100%, 60%);
    box-shadow: 0 0 5px hsl(110, 100%, 38%);
    opacity: .2;
}

.modal-how-to-play {
    position: absolute;
    transform: scale(0);
}

.modal-how-to-play-showing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    transform: scale(1);
    transition: transform 600ms;
}

.how-to-play-explanation-container {
    max-width: 495px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: hsl(0, 0%, 100%);
}

.how-to-play-explanation {
    font-size: 1.1rem;
    padding-left: 8px;
    letter-spacing: 1px;
    line-height: 1.5;
}

@media (hover: hover) {

    .flag-names:hover {
        cursor: pointer;
        color: var(--text-color);
    }

    .flags-container > img:hover {
        cursor: pointer;
    }

    .flags-container > img:active {
        transform: scale(0.985);
        transition-property: transform;
        transition-delay: 30ms;
        transition-duration: 10ms;
    }
}

@media screen and (max-width: 353px) {
    
    .explanation {
        padding-left: 2px;
        font-size: .75rem;
    }

    .drop-flag-left,
    .drop-flag-center,
    .drop-flag-right {
        font-size: .8rem;
    }

    .button-container > button {
        width: 90px;
    }
}

@media screen and (min-width: 425px) {

    .drop-flag-left,
    .drop-flag-center,
    .drop-flag-right {
        height: 22px;
        font-size: 1rem;
        letter-spacing: .8px;
    }
}

@media screen and (min-width: 625px) {

    .explanation {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    img {
        max-width: 28%;
    }

    .button-container {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    .drop-flag-left,
    .drop-flag-center,
    .drop-flag-right {
        width: 28%;
    }
}

@media screen and (min-width: 740px) {

    .explanation {
        font-size: 1rem;
    }

    img {
        max-width: 22%;
    }

    .drop-flag-left,
    .drop-flag-center,
    .drop-flag-right {
        width: 22%;
    }
}
